@use "../mixins" as *;

// Display utility classes
.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }
.table { display: table; }
.table-row { display: table-row; }
.table-cell { display: table-cell; }
.flex { display: flex; }
.inline-flex { display: inline-flex; }
.grid { display: grid; }
.inline-grid { display: inline-grid; }
.hidden { display: none; }
.contents { display: contents; }

// …at different breakpoints
@include generate-breakpoint-prefixes {
  &block { display: block; }
  &inline-block { display: inline-block; }
  &inline { display: inline; }
  &table { display: table; }
  &table-row { display: table-row; }
  &table-cell { display: table-cell; }
  &flex { display: flex; }
  &inline-flex { display: inline-flex; }
  &grid { display: grid; }
  &inline-grid { display: inline-grid; }
  &hidden { display: none; }
  &contents { display: contents; }
}

.new-customer {
  .hide-for-new-customer {
    display: none;
  }
}

.returning-customer {
  .hide-for-returning-customer {
    display: none;
  }
}
