@use "../variables" as *;
@use "../mixins" as *;

.shadow-1 { box-shadow: $box-shadow-1; }
.shadow-2 { box-shadow: $box-shadow-2; }
.shadow-3 { box-shadow: $box-shadow-3; }

@include generate-breakpoint-prefixes {
  &shadow-1 { box-shadow: $box-shadow-1; }
  &shadow-2 { box-shadow: $box-shadow-2; }
  &shadow-3 { box-shadow: $box-shadow-3; }
  &shadow-none { box-shadow: none; }
}
