.transform {
  --translate-x: 0;
  --translate-y: 0;
  --rotate: 0;
  --skew-x: 0;
  --skew-y: 0;
  --scale-x: 1;
  --scale-y: 1;

  transform: translate(var(--translate-x), var(--translate-y))
    rotate(var(--rotate)) skewX(var(--skew-x)) skewY(var(--skew-y))
    scaleX(var(--scale-x)) scaleY(var(--scale-y));
}

.scale-10 {
  --scale-x: 0.1;
  --scale-y: 0.1;
}

.scale-95 {
  --scale-x: 0.95;
  --scale-y: 0.95;
}

.scale-100 {
  --scale-x: 1;
  --scale-y: 1;
}
