@use "../variables" as *;
@use "../mixins" as *;

// Base styles shared by all buttons
.btn {
  padding: 9px 24px;
  border-radius: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  font-family: $font-family-sans-serif;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: none;
  user-select: none;
  line-height: 18px;
  height: auto;
  min-height: 36px;
  outline: 0;
  text-decoration: none;

  &.btn-icon {
    height: 36px;
    width: 36px;
    padding: 0;

    &.btn-wide {
      width: 48px;
    }
  }

  &.btn-rounded {
    border-radius: 4px;
  }

  // Set some nice focus styles
  &:focus {
    outline: 1px solid var(--ink);
    outline-offset: 2px;
  }

  // Think of :focus-visible as "focus with the keyboard"
  // When the button is focused, but not by using the keyboard
  // i.e you clicked on it, we want to undo what we did above
  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid var(--ink);
    outline-offset: 2px;
  }
}

.btn[disabled] {
  opacity: 0.64;
  pointer-events: none;
  user-select: none;
}

// Button variations
.btn-primary {
  background-color: var(--ink);
  color: #fff;

  @media (hover: hover) {
    &:hover {
      background-color: var(--ink-4);
      color: #fff;
    }
  }
}

.btn-primary-light {
  background-color: var(--paper-1);
  color: var(--ink);

  @media (hover: hover) {
    &:hover {
      color: var(--ink-4);
    }
  }

  &[disabled] {
    opacity: 0.64;
  }
}

.btn-secondary {
  padding: 8px 24px;
  background-color: transparent;
  color: var(--ink);
  border: 1px solid var(--ink);

  @media (hover: hover) {
    &:hover {
      color: var(--ink-4);
      border-color: var(--ink-4);
    }
  }
}

.btn-tertiary {
  background-color: var(--paper);
  color: var(--ink);

  @media (hover: hover) {
    &:hover {
      color: var(--ink-4);
    }
  }

  &[disabled] {
    opacity: 0.64;
  }
}

.btn-link {
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  text-decoration: underline;

  &.back-link,
  &.forward-link {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      height: 10px;
      width: 6px;
      background-size: contain;
    }
  }

  &.back-link:after {
    left: -10px;
    background: url("@assets/images/svg/leftarrow-small-thin.svg");
  }

  &.forward-link:after {
    right: -10px;
    background: url("@assets/images/svg/rightarrow-small-thin.svg");
  }
}

.btn-delete {
  background-color: var(--red);
  color: var(--paper);
}

// Button sizes
.btn-small {
  padding: 4px 8px 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  min-height: 24px;

  &.btn-secondary {
    padding: 3px 8px 3px;
  }

  &.btn-icon {
    height: 24px;
    width: 24px;
    padding: 0;
  }

  &.btn-link {
    &.back-link:after {
      left: -2px;
    }

    &.forward-link:after {
      right: -2px;
    }
  }
}

.btn-large {
  padding: 14px 24px 14px;

  &.btn-secondary {
    padding: 13px 24px 13px;
  }

  &.btn-icon {
    height: 48px;
    width: 48px;
    padding: 0;
  }
}

// Only used at checkout
.btn-huge {
  padding: 20px 24px 20px;

  &.btn-secondary {
    // Account for the border
    padding: 19px 24px 19px;
  }

  @include typeset-6;
}

@include generate-breakpoint-prefixes {
  &btn-large {
    padding: 14px 24px 14px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }

  &btn-medium {
    padding: 7px 24px 7px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }

  &btn-small {
    padding: 4px 8px 4px;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
  }
}

.btn-sm {
  padding: 7px 8px 7px;
  min-height: 32px;

  &.btn-secondary {
    padding: 6px 8px 6px;
  }
}

.btn-sm.btn-icon {
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.btn-sm.btn-text-and-icon {
  padding: 6px 8px 8px;

  span {
    position: relative;
    top: 4px;
    margin-right: 4px;
  }
}

// Block button
// --------------------------------------------------
.btn-block {
  display: block;
  width: 100%;
}
