@use "../variables" as *;

// Forms
// --------------------------------------------------

// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  box-sizing: border-box;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]
.form-control {
  appearance: none;
  display: block;
  background-color: var(--white);
  border: none;
  border-bottom: 1px solid var(--paper-4);
  width: 100%;
  padding: 2px 8px 2px;
  line-height: $line-height-base;
  border-radius: 0;
  height: 36px;
  color: var(--ink);

  &::placeholder,
  input::placeholder {
    color: var(--ink-2);
  }

  &:hover {
    border-color: var(--paper-5);
  }

  &:focus {
    outline: 0;
    border-color: var(--ink);
  }

  &:not(.search) {
    font-size: $font-size-base;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: var(--paper);
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }

  &.small-text {
    font-size: 12px;
  }

  &.form-control-small {
    height: 24px;
  }

  &.bordered {
    border: 1px solid var(--paper-4);
  }

  &.unbordered {
    border: none;
  }
}

.top-filters-form-control {
  appearance: none;
  display: block;
  background-color: var(--paper-2);
  border: none;
  border-bottom: 1px solid transparent;
  width: 100%;
  border-radius: 0;
  color: var(--ink);
  cursor: pointer;

  &::placeholder {
    color: var(--ink-2);
  }

  &:focus {
    outline: 0;
    border-color: var(--ink);
  }
}

[data-whatinput="mouse"] .top-filters-form-control {
  &:focus {
    outline: 0;
    border-color: transparent;
  }
}

// Overrides for textareas
textarea.form-control {
  height: auto;
  padding: 16px;
}

// Search inputs in iOS
//
// This overrides the extra rounded corners on search inputs in iOS so that our
// `.form-control` class can properly style them. Note that this cannot simply
// be added to `.form-control` as it's not specific enough. For details, see
// https://github.com/twbs/bootstrap/issues/11586.
input[type="search"] {
  -webkit-appearance: none;
}

select.form-control {
  background-image: url("@assets/images/svg/downarrow-small-thin.svg"),
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN88/D4fwAI6gOVBrTAnwAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-size:
    10px 6px,
    36px;
  background-position:
    right 13px center,
    right;
  padding-right: 36px;
  border: 1px solid var(--paper-4);

  &.no-toggle-background {
    border-color: transparent !important;
    background-image: url("@assets/images/svg/downarrow-small-thin.svg") !important;
  }

  &.bold-options {
    font-weight: bold;
  }

  &.form-control-small {
    font-size: 12px;
    line-height: 20px;
    padding-left: 4px;
    padding-right: 24px;
    background-position:
      right 8px center,
      right;
    background-size:
      8px 5px,
      24px;
  }

  &:hover {
    border: 1px solid var(--paper-5);
    background-image: url("@assets/images/svg/downarrow-small-thin.svg"),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN8dGnNfwAIXwNht1GCyAAAAABJRU5ErkJggg==);
  }

  // Set some nice focus styles
  &:focus {
    border-color: var(--ink);
  }

  // Think of :focus-visible as "focus with the keyboard"
  // When the button is focused, but not by using the keyboard
  // i.e you clicked on it, we want to undo what we did above
  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    border-color: var(--ink);
  }

  &[disabled],
  &[disabled]:hover {
    border-color: var(--paper-4);
    background-image: url("@assets/images/svg/downarrow-small-thin.svg"),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN88/D4fwAI6gOVBrTAnwAAAABJRU5ErkJggg==);
    opacity: 0.5;
  }
}

select.invisible {
  appearance: none;
  background-image: url("@assets/images/svg/downarrow-small-thin.svg");
  background-repeat: no-repeat;
  background-size: 10px 6px;
  background-position: right 4px center;
  padding-right: 24px;
  padding-left: 4px;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  line-height: 1.3;
  font-style: normal;
  font-weight: 700;

  // Set some nice focus styles
  &:focus {
    outline-color: var(--ink);
  }

  // Think of :focus-visible as "focus with the keyboard"
  // When the button is focused, but not by using the keyboard
  // i.e you clicked on it, we want to undo what we did above
  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline-color: var(--ink);
  }

  &[disabled],
  &[disabled]:hover {
    opacity: 0.5;
  }
}

// Form control feedback states
// Apply contextual and semantic states to individual form controls.

// Feedback states
.has-errors {
  // Color the label and help text
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label {
    color: var(--red);
  }
  // Set the border and box shadow on specific inputs to match
  .form-control {
    border-color: var(--red) !important;
  }
}

.form-with-addons {
  display: flex;
  justify-content: flex-start;

  > div {
    flex-shrink: 0;
  }

  .is-flexible {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

input.date-picker,
input.date-picker-mobile {
  @media screen and (min-width: $screen-sm-min) {
    width: 120px;

    &.full-width {
      width: 100%;
    }
  }
}

// Checkbox styles
[type="checkbox"],
[type="radio"] {
  appearance: none;
  padding: 0;
  background-origin: border-box;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  background-color: transparent;
  border: 1px solid var(--ink);

  &:checked {
    background-color: transparent;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  // Set some nice focus styles
  &:focus {
    outline: 1px solid var(--ink);
    outline-offset: 2px;
  }

  // Think of :focus-visible as "focus with the keyboard"
  // When the button is focused, but not by using the keyboard
  // i.e you clicked on it, we want to undo what we did above
  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid var(--ink);
    outline-offset: 2px;
  }
}

[type="checkbox"] {
  background-color: transparent;
  border-radius: 0;

  &:checked {
    background-color: var(--ink);
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }

  &.toggle {
    height: 14px;
    width: 22px;
    border-radius: 16px;
    display: inline-flex;
    position: relative;
    margin: 0;
    border: 1px solid transparent;
    background: var(--ink-1);
    transition: all 0.2s ease;

    &:after {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: 8px;
      height: 8px;
      border: 1px solid transparent;
      border-radius: 50%;
      background: #fff;
      // box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
      transition: all 0.2s ease-out;
    }

    &:checked {
      background: var(--peppermint);
      border-color: var(--peppermint);
    }

    &:checked:after {
      border: 1px solid #fff;
      background: #fff;
      transform: translatex(8px);
    }
  }
}

.filter-checkbox {
  [type="checkbox"] {
    background-color: transparent;
    border-radius: 20%;
  }

  [type="checkbox"]:checked {
    background-image: url("@assets/images/svg/filters-checkbox-selected.svg");
    background-color: var(--ink);
    background-repeat: no-repeat;
    background-size:
      22px 12px,
      36px;
  }
}

.filter-checkbox-container:hover
  > .filter-checkbox
  [type="checkbox"]:not(:checked) {
  background-image: url("@assets/images/svg/filters-checkbox-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:
    22px 12px,
    36px;
}

[type="radio"] {
  border-radius: 100%;

  &:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  }
}

@mixin thumb() {
  -webkit-appearance: none;
  appearance: none;
  width: 48px;
  height: 30px;
  border-radius: 15px;
  background-color: #1e2525;
  background-image: url("/app/assets/images/svg/slider-icon.svg");
  background-size: 45px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  @include thumb;
}

.slider::-moz-range-thumb {
  @include thumb;
}

.slider::-ms-thumb {
  @include thumb;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  background: transparent;
  outline: none;
  cursor: pointer;
}
