/*! purgecss start ignore */
.papier-icon {
  height: 1em;
  width: 1em;
}

.papier-icon.icon-angle {
  height: 8px;
  width: 8px;
}

.papier-icon.icon-edit {
  height: 13px;
  width: 13px;
}

.papier-icon.icon-info-cutout {
  width: 14px;
  height: 14px;
}

.papier-icon.icon-leftarrow {
  height: 14px;
  width: 9px;
}

.papier-icon.icon-leftarrow-small {
  height: 11px;
  width: 6px;
}

.papier-icon.icon-leftarrow-small-thin {
  height: 10px;
  width: 6px;
}

.papier-icon.icon-calculator {
  height: 13px;
  width: 12px;
}

.papier-icon.icon-rightarrow {
  height: 14px;
  width: 9px;
}

.papier-icon.icon-rightarrow-small {
  height: 11px;
  width: 6px;
}

.papier-icon.icon-rightarrow-small-thin {
  height: 10px;
  width: 6px;
}

.papier-icon.icon-downarrow {
  height: 9px;
  width: 14px;
}

.papier-icon.icon-downarrow-small {
  height: 6px;
  width: 11px;
}

.papier-icon.icon-downarrow-small-thin {
  height: 6px;
  width: 10px;
}

.papier-icon.icon-uparrow {
  height: 9px;
  width: 14px;
}

.papier-icon.icon-uparrow-small {
  height: 6px;
  width: 11px;
}

.papier-icon.icon-uparrow-small-thin {
  height: 6px;
  width: 10px;
}

.papier-icon.icon-bold {
  height: 7px;
  width: 5px;
}

.papier-icon.icon-italic {
  height: 7px;
  width: 4px;
}

.papier-icon.icon-line-height {
  height: 10px;
  width: 16px;
}

.papier-icon.icon-letter-spacing {
  height: 11px;
  width: 12px;
}

.papier-icon.icon-rotate-c {
  height: 12px;
  width: 14px;
}

.papier-icon.icon-rotate-cc {
  height: 12px;
  width: 14px;
}

.papier-icon.icon-rsvp {
  height: 15px;
  width: 20px;
}

.papier-icon.icon-rsvpenvelope {
  height: 12px;
  width: 20px;
}

.papier-icon.icon-shipping {
  height: 12px;
  width: 24px;
}

.papier-icon.icon-tick {
  height: 8px;
  width: 11px;
}

.papier-icon.icon-topfold {
  height: 23px;
  width: 15px;
}

.papier-icon.icon-topfoldinside {
  height: 20px;
  width: 24px;
}

.papier-icon.icon-van {
  height: 11px;
  width: 24px;
}

.papier-icon.icon-landingpagexs {
  height: 29px;
  width: 17px;

  &.small {
    height: 14px;
    width: 8px;
  }
}

.papier-icon.icon-landingpagesm {
  height: 36px;
  width: 28px;

  &.small {
    height: 18px;
    width: 14px;
  }
}

.papier-icon.icon-landingpagemd {
  height: 33px;
  width: 52px;

  &.small {
    height: 16px;
    width: 26px;
  }
}

.papier-icon.icon-landingpagelg {
  height: 36px;
  width: 47px;

  &.small {
    height: 18px;
    width: 23px;
  }
}

.papier-icon.icon-upload {
  height: 31px;
  width: 31px;
}

.papier-icon.icon-warning {
  height: 15px;
  width: 17px;
}

.papier-icon.icon-zoom {
  height: 16px;
  width: 16px;
}

.papier-icon.icon-handle-dots {
  height: 18px;
  width: 11px;
}

.papier-icon.icon-diamond {
  height: 14px;
  width: 15px;
}

.papier-icon.icon-star {
  height: 16px;
  width: 16px;
}

.large-icon-stars {
  .papier-icon.icon-star {
    height: 24px;
    width: 24px;
  }
}

.cart-toggle .icon-basket {
  width: 18px;
  height: 19px;
}

.icon-menu {
  width: 19px;
  height: 16px;
}

.papier-icon.icon-van2 {
  height: 14px;
  width: 21px;
}

.papier-icon.icon-mail {
  height: 18px;
  width: 18px;
}

.papier-icon.icon-bag {
  height: 18px;
  width: 14px;
}

.papier-icon.icon-favourites {
  height: 18px;
  width: 18px;
}

.papier-icon.icon-search-bg {
  height: 36px;
  width: 40px;
}

.papier-icon.icon-klarna {
  height: 20px;
  width: 30px;
}

.papier-icon.icon-zendesk-chat {
  height: 24px;
  width: 24px;
}

.papier-icon.icon-papierlogo {
  height: 24px;
  width: 125px;
}
/*! purgecss end ignore */
