@use "sass:math";
@use "../variables" as *;
@use "../mixins" as *;

// Typography
// --------------------------------------------------

// Body text
// -------------------------
p {
  margin: 0;
}

// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: math.div($line-height-computed, 2);

  ul,
  ol {
    margin-bottom: 0;
  }
}

// List options
.list-unstyled {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.list-ticks {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.95833 9.41663L0.8125 5.29163L1.41667 4.68746L4.95833 8.22913L12.5833 0.604126L13.1875 1.20829L4.95833 9.41663Z" fill="black"/></svg>');
  margin-bottom: 0;
  padding-left: 16px;
}

hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--ink-1);
  border-top: none;
  border-left: none;
  border-right: none;
}

// Utilities for triggering each font
.serif {
  font-family: $font-family-serif;
}

.sans-serif {
  font-family: $font-family-sans-serif;
}

.typeset-1 {
  @include typeset-1;
}

.typeset-2 {
  @include typeset-2;
}

.typeset-3 {
  @include typeset-3;
}

.typeset-4 {
  @include typeset-4;
}

.typeset-5 {
  @include typeset-5;
}

.typeset-6 {
  @include typeset-6;
}

.typeset-7 {
  @include typeset-7;
}

.typeset-8 {
  @include typeset-8;
}

.typeset-9 {
  @include typeset-9;
}

.typeset-10 {
  @include typeset-10;
}

.typeset-11 {
  @include typeset-11;
}

.typeset-12 {
  @include typeset-12;
}

.fold-typeset-1 {
  @include fold-typeset-1;
}

.fold-typeset-2 {
  @include fold-typeset-2;
}

.fold-typeset-3 {
  @include fold-typeset-3;
}

.fold-typeset-4 {
  @include fold-typeset-4;
}

@include generate-breakpoint-prefixes {
  &typeset-1 {
    @include typeset-1;
  }

  &typeset-2 {
    @include typeset-2;
  }

  &typeset-3 {
    @include typeset-3;
  }

  &typeset-4 {
    @include typeset-4;
  }

  &typeset-5 {
    @include typeset-5;
  }

  &typeset-6 {
    @include typeset-6;
  }

  &typeset-7 {
    @include typeset-7;
  }

  &typeset-8 {
    @include typeset-8;
  }

  &typeset-9 {
    @include typeset-9;
  }

  &typeset-10 {
    @include typeset-10;
  }

  &typeset-11 {
    @include typeset-11;
  }

  &typeset-12 {
    @include typeset-12;
  }

  &fold-typeset-1 {
    @include fold-typeset-1;
  }

  &fold-typeset-2 {
    @include fold-typeset-2;
  }

  &fold-typeset-3 {
    @include fold-typeset-3;
  }

  &fold-typeset-4 {
    @include fold-typeset-4;
  }
}

.line-height-1 {
  line-height: 1;
}

@include generate-breakpoint-prefixes {
  &line-height-1 {
    line-height: 1;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@include generate-breakpoint-prefixes {
  &ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ellipsis-mid-word {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow-wrap: anywhere;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: anywhere;
}

.underline-links {
  a {
    text-decoration: underline;
  }
}

.strikethrough {
  text-decoration: line-through;
}

.break-normal {
  overflow-wrap: normal;
  word-break: normal;
}

.break-words {
  overflow-wrap: break-word;
}

// Rendered markdown styles
.parsed-markdown {
  :where(blockquote, figure, h1, h2, h3, h4, h5, h6) {
    margin: 0;
  }

  & > * + *,
  & li + li,
  & li > p + p {
    margin-top: 8px;
  }

  a {
    text-decoration: underline;
  }

  p {
    margin-bottom: 1rem;
  }

  p + p {
    margin-top: -8px;
  }

  hr {
    border-color: var(--ink-4);
  }

  h1 {
    @include typeset-2;
  }

  h2 {
    @include typeset-3;
  }

  h3 {
    @include typeset-6;
  }

  h4 {
    @include typeset-5;
  }

  em {
    font-style: italic;
  }

  ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 24px;

    > li {
      margin-bottom: 16px;
      padding-left: 24px;
      position: relative;

      &:before {
        content: "•";
        font-size: 16px;
        line-height: 14px;
        position: absolute;
        top: 2px;
        left: 8px;
      }
    }
  }

  ol {
    margin-bottom: 24px;
    padding-left: 24px;

    > li {
      margin-bottom: 16px;
      position: relative;
    }
  }

  ul:last-child,
  ol:last-child,
  p:last-child {
    margin-bottom: 0;
  }

  table {
    width: 100%;

    * {
      font-size: 12px;
      font-family: $font-family-sans-serif;
    }

    td {
      padding: 8px;
    }

    th {
      padding: 4px 8px;
    }

    tr {
      &:nth-of-type(odd) {
        background-color: var(--paper-2);
      }

      &:nth-of-type(even) {
        background-color: var(--paper-3);
      }
    }

    thead {
      font-weight: bold;

      tr {
        background-color: var(--paper-3) !important;
      }
    }
  }

  blockquote {
    font-weight: 600;
    color: var(--ink);
    border-left-width: 0.25rem;
    border-left-color: var(--paper-4);
    quotes: "\201C" "\201D" "\2018" "\2019";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  figure {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  figcaption {
    font-size: 12px;
    color: var(--ink-4);
    margin-top: 8px;
  }
}

// Code (inline and block)
// --------------------------------------------------

// Inline and block code styles
code,
kbd,
pre,
samp {
  font-family: $font-family-monospace;
}

// Inline code
code {
  padding: 2px 4px;
  font-size: 90%;
  color: var(--ink);
  background-color: var(--paper);
}

// Blocks of code
pre {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: auto;
  background-color: var(--paper);
  color: var(--ink);

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }
}
