@use "sass:math";

//== Typography
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:         "Quarion", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
$font-family-serif:              "Self Modern", "Georgia", "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-size-base:          14px !default;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.4926 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    math.floor(($font-size-base * $line-height-base)) !default; // ~20px
